/*------------------------------------*\
   *Navigation*
\*------------------------------------*/

nav {
    background: whitesmoke;
    border-bottom: 2px solid #c85335;
    border-top: 2px solid #c85335;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0.5em;
}

nav ul li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.2em;
    display: block;
    text-align: center;
    padding: 0.75em 0;
}

nav .nav-toggle {
	position: absolute;
	top: 20px;
	right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3;
    color: rgb(255, 255, 255);
}


button {
    display: inline-block;
    border: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 0.6rem;
    text-transform: uppercase;
    background: transparent;
    -webkit-appearance: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

/*------------------------------------*\
   *Body*
\*------------------------------------*/

.hero-text button {
    padding: 8px 16px;
    font-size: 90%;
    background-color: white;
    color: #c85335;
    border-radius: 4px;
    font-family: "darkmode-off", sans-serif;
    font-weight: 600;
    font-style: normal;
    border: 1px solid #c85335;
}

body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

.logo img{
    width: 300px;
    margin: 0 auto;
    position: relative;
    display: flex;
    padding: 1em;
 }

.hero {
    margin: 1em;
}

.sign-up {
    background: white;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 1em 0;
    margin: 1em;
    border-radius: 40px;
    font-size: 10px;
    border: 2px solid #c85335;
}

.sign-up h2 {
    font-family: "montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: black;
}

.sign-up h3 {
    color: black;
    font-family: "montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
}

input[type="text"] {
    padding: 8px;
    font-size: 12px;
    border: 1px solid whitesmoke;
    border-radius: 0.25em;
    margin-right: 5px;
    font-family: "darkmode-off", sans-serif;
    font-weight: 600;
    font-style: normal;
}

button {
    padding: 8px 16px;
    font-size: 125%;
    background-color: #c85335;
    color: white;
    border-radius: 4px;
    font-family: "darkmode-off", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.footer {
    padding: 2em;
    border-top: 2px solid #c85335;
    color: black;
    text-align: center;
}

  .footer h1 {
    font-family: "montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
  }

.footer p {
    font-family: "montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.text-left,
  .text-right {
      position: relative;
      color: #fff;
}

.text-left {
      align-items: center;
      color: black; 
}

.text-right {
      align-items: center; 
      color: black;
}

.text-left a {
        padding: 0.25em;
}

.text-left img,
   .text-right img {
      width: 25px;
      margin-left: 5px; 
      position: relative;
      top: 5px;
}


h2 {
    font-family: "montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h3 {
    font-family: "montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
}

p  {
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/*------------------------------------*\
   *Home*
\*------------------------------------*/

video {
    display: block;
    margin: auto;
    max-width: 1300px;
  }

.hero-text {
    position: relative;
    text-align: center;
    padding: 1.5em;
}

.hero-text h2 {
    margin-bottom: 1em;
    font-size: 200%;
}

.hero-text h3 {
    margin-bottom: 1.5em;
}

.hero-text {
    position: relative;
    text-align: center;
    padding: 1.5em;
}

.mission-container img {
    position: relative;
    width: 225px;
    padding: 1.85em;
}

.mission-container {
    display: flex;
    flex-wrap: wrap;
}

.collab-box {
    padding: 1em 0;
    margin-top: 2em;
    display: flex;
    align-items: center;
    text-align: center; 
}

.collab video {
    width: 400px; 
    height: auto; 
    margin-bottom: 0.5em;
    padding: 2em;
}

.collab {
    display: flex;
    width: 75%;
    align-items: center;
}

.collab-text {
    width: 140%;
    position: relative;
    right: 20px;
}

.collab-box button {
    padding: 8px 16px;
    font-size: 75%;
    background-color: white;
    color: #c85335;
    border-radius: 4px;
    font-family: "darkmode-off", sans-serif;
    font-weight: 600;
    font-style: normal;
    border: 1px solid #c85335;
}

.collab-text img.top-left {
    position: relative; 
    top: 60px;
    width: 50px;
    right: 380px;
}

.collab-text img.bottom-right {
    position: relative;
    width: 50px;
    left: 380px;
    top: 225px;
}

  .grid-container1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 2em;
    cursor: pointer;
}

.grid-item1 {
    padding: 10px;
    text-align: center;
}

.image-container1 {
    position: relative;
    overflow: hidden; 
}

.image-container1 img {
    max-width: 100%;
    height: auto;
}

.image-container1:hover .overlay {
    opacity: 1;
}


.special-text {
    color: #c85335;
}   

.collab-text h2 {
    margin-bottom: 1em;
    font-size: 200%;
}

.collab-text h3 {
    margin-bottom: 1.5em;
}
/*------------------------------------*\
   *Clients*
\*------------------------------------*/

.client-photo {
    margin: 1em;
}

.client-text {
    text-align: center;
}

.client-text h2 {
    font-size: 225%;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay p {
    color: white;
    text-align: center;
    margin: 0;
}

.image-container:hover .overlay {
    opacity: 1; 
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 2em;
}

.grid-item {
    position: relative;
    padding: 10px;
    cursor: pointer;
}

.image-container {
    position: relative;
}

.image-container img {
    max-width: 100%;
    height: auto;
}
  
img.top-leftt {
    position: relative;
    width: 50px;
    top: -140px;
    left: 280px;

}

img.bottom-rightt {
    position: relative;
    width: 50px;
    left: 1050px;
    top: -10px;
    
}
/*------------------------------------*\
   *Contact Us*
\*------------------------------------*/

.form-container2 h1 {
    font-family: "darkmode-off", sans-serif;
    font-weight: 600;
    font-style: normal;
    color:  black;
    background-color: white;
    text-align: center;
    padding: 0.5em 1em;
    border-radius: 4px;
    font-size: 185%;
}

.form-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    padding: 1em;
    border-radius: 0.5em;
  }

.name-container {
    display: flex;
    margin: 1em;
}

.form-container2 input[type=submit] {
    padding: 8px 16px;
    font-size: 85%;
    background-color: white;
    color: #c85335;
    border-radius: 4px;
    font-family: "darkmode-off", sans-serif;
    font-weight: 600;
    font-style: normal;
    border: 1px solid #c85335;
    margin-top: 1em;
    cursor: pointer;
}

.home-feature-item {
    margin: 1em;
    border: 2px solid #c85335;
    position: relative;
    background: white;
    width: calc(50% - 2em - 6px);
}

.main-feature {
    display: flex;
    flex-wrap: wrap;
}

.home-feature-item h2 {
    text-align: center;
    font-size: 125%;
}

.home-feature-item p {
    font-size: 85%;
    margin: 1.5em;
    text-align: center;
}

.faqs-text {
    margin: auto;
    text-align: center;
    padding: 1em;
    width: 75%;
}

.faqs-text h2 {
    font-size: 200%;
    position: relative;
    top: -10px;
}

.faqs-text h3 {
    font-size: 125%;
}


.name-container input[type="text"] {
    font-size: 14px;
}

img.top-lefttt {
    position: relative;
    top: 50px;
    width: 50px;
    left: 320px;
}

img.bottom-righttt {
    position: relative;
    top: 400px;
    width: 50px;
    left: 1000px;
}

.u {
    margin: 1em;
}
/*------------------------------------*\
   *Responsive*
\*------------------------------------*/

@media screen and (min-width: 800px) {


    nav ul {
        display: flex;
        justify-content: center;
    }

    nav ul li {
        margin: 0 2em;
    }

    nav .nav-toggle {
        display: none;
    }

    .mission-container img {
        position: relative;
        width: 355px;
        padding: 1.85em;
    }

}

@media screen and (min-width: 1000px) {

    nav .nav-toggle {
        display: none;
    }

    .logo img {
        width: 350px;
    }

    .mission-container {
        display: flex;
    }

    .mission-container img {
        position: relative;
        width: 300px;
        padding: 1.85em;
    }

.grid-container1 {
    display: flex;
    justify-content: space-between;
  }
  
  .grid-item1 {
    flex: 1;
    padding: 10px;
    text-align: center;
  }
  
  .grid-item1 img {
    max-width: 100%;
    height: auto;
  }
  .grid-container1 {
    display: flex;
    justify-content: space-between;
}

.grid-item1 {
    flex: 1;
    padding: 10px;
    text-align: center;
}

}

/*------------------------------------*\
   *Story*
\*------------------------------------*/

.story-text h2 {
    font-size: 175%;
    text-align: center;
}

.story-text h3 {
    text-align: center;
    margin: 1.5em;
}

.story-title h2 {
    font-size: 250%;
    text-align: center;
}

.story-title h3 {
    font-size: 150%;
    text-align: center;
}


.story-title .top-leftttt {
    position: relative;
    top: 60px;
    width: 50px;
    left: 350px;
}

img.bottom-rightttt {
    position: relative;
    top: 200px;
    width: 50px;
    left: 1000px;
}

.story-text {
    background-color: white;
    padding: 1em;
    margin: 4em;
    border: 2px solid #c85335;
    border-radius: 40px;
}



/*------------------------------------*\
   *Collaborate*
\*------------------------------------*/

img.bottom-righttttt {
    position: relative;
    top: 200px;
    width: 50px;
    left: 1030px;
}


img.top-lefttttt {
    position: relative;
    top: 60px;
    width: 50px;
    left: 340px;
}

.collaborate-container {
    display: flex; 
    align-items: center; 
    margin: 0 auto;
    margin: 2em;
  }

  .collaborate-text {
    flex: 1; 
    padding: 2em;
    text-align: center;
    background-color: #fff;
    max-width: 1000px;
    margin: auto;
  }

  .collaborate-img {
    height: auto;
    width: 300px;
    padding: 2em;
    margin: 2em;
  }


  img.top-left-collab {
    width: 50px;
    position: relative;
    top: -108px;
    right: 880px;
  }

  img.bottom-right-collab {
    width: 50px;
    position: relative;
    top: 108px;
    right: 132px;
  }

  img.top-right {
    position: relative;
    width: 50px;
    top: -107px;
    right: 50px;
  }

  img.bottom-left {
    position: relative;
    width: 50px;
    top: 108px;
    right: 898px;
  }


  img.top-left-collabb {
    width: 50px;
    position: relative;
    top: -232px;
    right: 422px;
  }

  img.bottom-right-collabb {
    width: 50px;
    position: relative;
    top: 36px;
    right: -422px;
  }

  img.top-rightt {
    width: 50px;
    position: relative;
    top: -107px;
    right: 50px;
  }

  img.bottom-leftt {
    width: 50px;
    position: relative;
    top: 108px;
    right: 898px;
  }


  img.top-left-collabbb {
    width: 50px;
    position: relative;
    top: -210px;
    right: 422px;
  }

  img.bottom-right-collabbb {
    width: 50px;
    position: relative;
    top: 36px;
    right: -422px;
  }

  .collab-form h1 {
    font-family: "montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
    color:  black;
    background-color: white;
    text-align: center;
    padding: 0.5em 1em;
    border-radius: 4px;
    font-size: 200%;
}


.collab-form h2 {
    font-family: "montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
    color:  black;
    background-color: white;
    text-align: center;
    padding: 0.5em 1em;
    border-radius: 4px;
    font-size: 125%;
}


.collab-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 1em;
    margin: 4em;
    border: 2px solid #c85335;
    border-radius: 40px;
  }

.name-collab {
    display: flex;
    margin: 1em;
}

.collab-form input[type=submit] {
     padding: 8px 16px;
    font-size: 85%;
    background-color: white;
    color: #c85335;
    border-radius: 4px;
    font-family: "darkmode-off", sans-serif;
    font-weight: 600;
    font-style: normal;
    border: 1px solid #c85335;
    margin-top: 1em;
    cursor: pointer;
}


@media screen and (max-width: 1000px) {
    .home-feature-item {
        width: calc(100% - 2em - 6px);
    }
    
    .faqs-text h2 {
        font-size: 150%;
    }
    
    .faqs-text h3 {
        font-size: 100%;
    }

    .form-container2 h1 {
        font-size: 150%;
    }
    
    .form-container2 input[type=submit] {
        font-size: 70%;
    }

    .name-container input[type="text"] {
        font-size: 10px;
    }

    .footer h1 {
       font-size: 150%;
      }
    
    .footer p {
        font-size: 80%;
    }
    
    .home-feature-item h2 {
        font-size: 100%;
    }

    .home-feature-item p {
        font-size: 75%;
    }

    .video {
        max-width: 300px;
    }


    .collab-text h2 {
        font-size: 125%;
    }

    .collab-text h3 {
        font-size: 65%;
    }
    
    .collab video {
            width: 70%;
    }

    .hero-text h2 {
        font-size: 125%;
    }

    .hero-text h3 {
        font-size: 75%;
    }

    .hero-text button {
        font-size: 55%;
    }

    .grid-container1 {
        grid-template-columns: repeat(2, 1fr);
    }

    .sign-up h2 {
        font-size: 125%;
    }

    .sign-up h3 {
        font-size: 110%;
    }

    .form-container button {
        font-size: 100%;
    }

    .form-container input[type="text"]  {
        font-size: 9px;
    }

    .story-title h2 {
        font-size: 150%;
    }

    .story-title h3 {
        font-size: 90%;
    }

    .collaborate-img {
        display: none;
    }
    
    .collaborate-text {
        max-width: 600px;
      }

      .collaborate-text h2 {
        font-size: 100%;
      }

      .collaborate-text h3 {
        font-size: 75%;
      }

      .collab-form h1 {
        font-size: 140%;
      }

      .collab-form h2 {
        font-size: 90%;
      }
    
      .name-collab input[type="text"] {
        font-size: 10px;
      }

      .collab-form input[type=submit] {
        font-size: 55%;
      }

      .client-text h2 {
        font-size: 140%;
      }

      .client-text h3 {
        font-size: 80%;
      }

      .grid-container {
        grid-template-columns: 0fr 1fr;
      }

      .story-text h2 {
        font-size: 125%;
      }

      .story-text h3 {
        font-size: 80%;
      }

      .hero video {
        width: 100%;
        height: 100%;
      }

      .insta-message h2 {
        font-size: 90%;
      }
}


@media screen and (max-width: 1300px) {

    img.bottom-righttt {
        display: none;
    }

    img.top-lefttt {
        display: none;
    }
    
    .collab-text img.bottom-right {
        display: none;
    }

    .collab-text img.top-left {
        display: none;
    }

    .story-title img.top-lefttttt {
        display: none;
    }

    img.bottom-righttttt {
        display: none;
    }

    img.top-rightt {
        display: none;
    }

    img.bottom-leftt {
        display: none;
    }

    img.top-left-collabbb {
        display: none;
    }

    img.bottom-right-collabbb {
        display: none;
    }

    img.top-right {
        display: none;
    }

    img.bottom-right-collabb {
        display: none;
    }

    img.top-left-collabb {
        display: none;
    }

    img.bottom-left {
        display: none;
    }

    img.top-leftt {
        display: none;
    }


    img.bottom-rightt {
        display: none;
    }

    .story-title .top-leftttt {
        display: none;
    }

    img.bottom-rightttt {
        display: none;
    }
}


.hero-text img {
    width: 25px;
}

.insta-message {
    text-align: center;
    font-size: 140%;
}